<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MagnetoSoftwareTesting" parallel="classes" thread-count="3">
    <test name="Magneto Tests">
        <classes>
            <class name="com.magneto.automation.tests.HomeTest" />
        </classes>
    </test>
    <listeners>
    	<listener class-name="com.magneto.automation.listeners.ScreenshotListener"/>
        <listener class-name="com.magneto.automation.listeners.ThreadLogger"/>
	</listeners>

</suite>
